<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="codingon.spring_boot_mybatis_practice.mapper.BoardMapper">
    <select id="findAll" resultType="Board">
        SELECT * FROM boards
    </select>

    <select id="findById" parameterType="int" resultType="Board">
        SELECT * FROM boards WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO boards (title, content, writer) VALUES (#{title}, #{content}, #{writer})
    </insert>

    <update id="update" parameterType="Board">
        UPDATE boards SET title = #{title}, content = #{content}, writer = #{writer} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM boards WHERE id = #{id}
    </delete>
</mapper>
